/* Appbar  */
.appbar{
    background-color: white !important;
    color: #000 !important;
    padding: 10px 50px !important;
    /* display: flex !important;
    justify-content: space-between !important; */
}

