.product_page{
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.product_image_card{
    width: 300px;
    height:70vh;
    text-align: center;
    padding: 20px 30px;
}

.product_details_card{
    width: 300px;
    height:70vh;
    text-align: center;
}

.product_title{
    font-weight: bold;
    font-size: 20px;
}